body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    font-family: 'Courier New', Courier, monospace;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 100vh;
    position: relative;
    background: url(http://localhost/myproject/TP-pendu/assets/bg.jpg) #000 no-repeat center center;
    background-size: cover;
}

main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

main>* {
    position: relative;
    z-index: 2;
}

.flex-container {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-right: 5%;
}

.flex-container-section {
    display: flex;
    width: 100%;
    align-items: start;
    flex-direction: row-reverse;
}

.section-container {
    background-color: #333333;
    color: white;
    padding: 20px;
    border-radius: 5%;
    width: 55%;
    margin: 20px;
    height: 70vh;
    opacity: 80%;
}

.section-container .top-right-div {
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
}

.top-right-div button {
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.btn-yellow {
    background-color: #FFD700;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-right: 4px;
}

.btn-gray {
    background-color: #333333;
    color: white;
    padding: 10px;
    border-radius: 5px;
}



.players_stats_container {
    height: 55vh;
    width: 350px;
    padding: 10px;
    background-color: #333333;
    opacity: 80%;
    border-radius: 5%;
    margin-top: 5%;

}

.players_stats_container h1 {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-top: 10px;
}

.guess-form-container input{
    padding: 4px;
    width: 100px;
    border-radius: 2px;
    border: none;
}

.guess-form-container button {
    padding: 4px;
    border-radius: 2px;
    background-color: #FFD700;
    color: white;
    border: none;
    cursor: pointer;
}

.players_stats_container hr {
    width: 20%;
    margin: 0 auto;
    border: 1px solid #FFD700;
    margin-bottom: 20px;
}

.players_stats_container table {
    color: white;
    font-size: 11px;
    width: 100%;
}

footer {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
}

footer.footer-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

footer p {
    text-align: center;
}

main {
    padding-bottom: 60px;
}

.consign-container {
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}

.consign-text1 {
    margin-top: 50px;
    font-size: 13px;
}

.consign-text2 {
    font-size: 13px;
    margin-bottom: 10px;
}


.start-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #333333;
    color: white;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 55%;
    margin: 20px;
}

.start-form-container input {
    padding: 10px;
    margin: 10px;
    width: 400px;
    border-radius: 10px;
    border: none;
}

.start-game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #333333;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    margin: 20px;
    height: 85%;
}

.start-game-container button {
    padding: 10px;
    font-weight: bold;
    margin: 10px;
    width: 420px;
    border-radius: 10px;
    background-color: #FFD700;
}

.start-game-container,
.container-choices {
    position: relative;
    padding-bottom: 20px;
}

.loading-process {
    display: flex;
    width: 100%;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.step {
    flex: 1;
    height: 100%;
}

.active {
    background-color: #FFD700;
}

.not-active {
    background-color: #D9D9D9;
}

.loading-process-hr {
    background-color: #FFD700;
    height: 10px;
    width: 100%;
    border: none;
}

.bottom-div {
    height: 20px;
    width: 100%;
}

.container-choices {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 85%;
}

.container-choices h2 {
    margin-top: 20px;
}

.container-choices button {
    padding: 10px;
    font-weight: bold;
    margin: 10px;
    width: 420px;
    border-radius: 10px;
    background-color: #FFD700;
}

.choices-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 55%;
    margin: 20px;
}

.choices-form-container input {
    padding: 10px;
    margin: 10px;
    width: 400px;
    border-radius: 10px;
    border: none;
}

.container-game {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90%;
    margin-top: 20px;
}

.container-game-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-grow: 1;
}

.game-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #333333;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    position: relative;
}


.game-form-container input {
    padding: 10px;
    margin: 10px;
    width: 400px;
    border-radius: 10px;
    border: none;
}

.game-form-container button {
    padding: 10px;
    font-weight: bold;
    margin: 10px;
    width: 420px;
    border-radius: 10px;
    background-color: #FFD700;
}

.game-text {
    color: white;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 20px;
}

.word-letter {
    color: white;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 20px;
}

.letter-combobox {
    padding: 10px;
    margin: 10px;
    width: 420px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    background-color: #fff;
    color: #333;
}


.game-over-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #333333;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 55%;
    margin: 20px;
}

.game-over-container a {
    padding: 10px;
    font-weight: bold;
    margin: 10px;
    width: 420px;
    border-radius: 10px;
    background-color: #FFD700;
    text-decoration: none;
    color: white;
}

.victory-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #333333;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 55%;
    margin: 20px;
}

.victory-container a {
    padding: 10px;
    font-weight: bold;
    margin: 10px;
    width: 420px;
    border-radius: 10px;
    background-color: #FFD700;
    text-decoration: none;
    color: white;
}

/* Styles pour les grands écrans */
@media (min-width: 1024px) {
    .flex-container {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-right: 5%;
    }

    .flex-container-section {
        display: flex;
        width: 100%;
        align-items: start;
        flex-direction: row-reverse;
    }

    .section-container {
        background-color: #333333;
        color: white;
        padding: 20px;
        border-radius: 5%;
        width: 55%;
        margin: 20px;
        height: 70vh;
        opacity: 80%;
    }

    .players_stats_container {
        height: 55vh;
        width: 350px;
        padding: 10px;
        background-color: #333333;
        opacity: 80%;
        border-radius: 5%;
        margin-top: 5%;
    }

    .choices-form-container,
    .game-over-container,
    .victory-container {
        width: 55%;
    }

    .start-game-container,
    .container-choices {
        width: 90%;
    }
}

/* Styles pour les tablettes */
@media (min-width: 768px) and (max-width: 1023px) {
    .flex-container {
        flex-direction: column-reverse;
        align-items: center;
        margin-right: 0;
    }

    .flex-container-section {
        flex-direction: column;
        align-items: center;
    }

    .section-container,
    .start-form-container,
    .choices-form-container,
    .game-over-container,
    .victory-container {
        width: 85vw;
        margin: 10px;
    }

    .players_stats_container {
        width: 85vw;
        margin-top: 10px;
    }

    .start-game-container,
    .container-choices {
        width: 95%;
    }
}

/* Styles pour les mobiles */
@media (max-width: 767px) {
    .flex-container {
        flex-direction: column-reverse;
        align-items: center;
        margin-right: 0;
    }

    .flex-container-section {
        flex-direction: column-reverse;
        align-items: center;
    }

    .section-container,
    .start-form-container,
    .choices-form-container,
    .game-over-container,
    .victory-container {
        width: 85vw;
        margin: 10px;
    }

    .players_stats_container {
        width: 90vw;
        margin-top: 10px;

    }

    .start-game-container,
    .container-choices {
        width: 100%;
    }

    .start-game-container button,
    .container-choices button,
    .game-form-container button,
    .game-over-container a,
    .victory-container a {
        width: 100%;
    }

    .start-form-container input,
    .choices-form-container input,
    .game-form-container input,
    .letter-combobox {
        width: 100%;
    }
}

.players_stats_container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-family: 'Inter', sans-serif;
}

.players_stats_container th, 
.players_stats_container td {
    text-align: center;
    border: 1px solid #ddd;
}



